  
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #2C2E43;  /* fallback for old browsers */
            /* background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
            /* background: linear-gradient(to right, #414345, #232526); */ 
}
article{
  background: #595260;
}
body {
  width:100vw;
  height: 100vh;
}

.header {
  background: none;
  font-weight: bolder;
  font-family:'Courier New', Courier, monospace;
  padding: 10px;
  color: #FFD523;
}

.container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.main {
  width: 70%;
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
   border: 4px solid #B2B1B9 ;
  border-radius: 10px;
}

.item-list {

  margin-left: 10px
}

.item {
  /* background: #b3cde0; */
  background: #595260;  /* fallback for old browsers */
  margin: 10px 0;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  
  border: 4px solid #B2B1B9 ;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.item-content {
  /* text-align: center; */
  padding: 5px;
  color: #FFD523;
}

.item h1 {
  font-family:'Times New Roman', Times, serif;
  color: #FFD523;
  /* text-align: center; */
  padding: 5px;
}
button{
  background: #595260;
    border-radius: 15px;
    border: 2px solid #B2B1B9;
    align-self: flex-end;
    color: #FFD523;
    font-size: inherit;
    height: 2rem;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    display: block;
    width: fit-content;
}
button:active{
  transform: translateY(5px);
}
.main::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.main::-webkit-scrollbar-track {
  background: #2C2E43;        /* color of the tracking area */
}
.main::-webkit-scrollbar-thumb {
  background-color: #FFD523;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #2C2E43;  /* creates padding around scroll thumb */
}