@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
*{
  margin: 0%;
  padding: 0;
  font-family: 'Otomanopee One', sans-serif;
  background: #B5EAEA;
}
button{
  font-family: 'Otomanopee One', sans-serif;
  height: 15%;
  width: 7%;
  margin: 2%;
  font-size: larger;
  color:#F38BA0;
  background: #EDF6E5;
  border: 4px solid #FFBCBC;
}
.container
{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
button:active{
  transform: translateY(4px);
}